<% layout('layouts/boilerplate') %>
<h1>All Champions</h1>
<% Object.values(champions).forEach((champion) => { %>
<ul>
    <li><%= champion.name %>, <%= champion.title %></li>
    <img src="<%= champion.icon %>" alt="<%= champion.name %>">
</ul>
<% }) %>
