.w-10rem {
    width: 10rem;
}

.content-container {
    display: grid;
    grid-template-columns: 15% 15% 15% minmax(100px, 20%) minmax(150px, 30%) 4%;
    grid-template-rows: 50px;
    align-items: center;
    width: 100%;
}

.match-history {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0 12px;
}

.gametype-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.queue-type,
game-status {
    font-size: 12px;
    font-weight: 700;
}

.game-duration {
    font-size: 12px;
    font-weight: 500;
}

.time-ago {
    font-size: 10px;
    font-weight: 500;
}

.champion-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.champion {
    position: relative;
    margin-right: 2px;
}

.champion-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 3px;
    overflow: hidden;
}

.champion-level {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 16px;
    border-radius: 3px;
    background-color: #191937;
    font-size: 10px;
    font-weight: 500;
    color: white;
    text-align: center;
}

.summoner-spells {
    display: flex;
    flex-direction: column;
    margin-right: 2px;
}

.summoner-spell-image {
    width: 22px;
    height: 22px;
    border-radius: 3px;
    background-color: #191937;
}

.runes {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.rune-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    background-color: #191937;
    border-radius: 3px;
}

.stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kda {
    margin-bottom: 1px;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
}

.kda-ratio,
.kill-participation {
    margin-top: 2px;
    line-height: 13px;
    font-size: 12px;
    font-weight: 700;
}