<% layout('layouts/boilerplate') %>
<h1 class="text-center mb-3">All Champions</h1>
<div class="row border mb-3">
    <% Object.values(champions).forEach((champion) => { %>
    <div class="container mt-3 bg-image hover-overlay ripple w-10rem" data-mdb-ripple-color="light">
        <img src="<%= champion.icon %>" class="img-thumbnail" alt="<%= champion.name %>">
        <a href="/champions/<%= champion.name %>">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
        </a>
        <div class="card-body">
            <p class="text-center"><%= champion.name %></p>
        </div>
    </div>
    <% }) %>
</div>